body {
    text-align: center;
}

.navbar {
    padding: 10px 40px;
    margin-bottom: 40px;
}

h1 {
    font-size: 3em;
    font-weight: 800;
    padding: 30px 0;
}

.blue {
    color: #4361ee;
    transition: all 200ms;
}

.red {
    color: #f72585;
    transition: all 200ms;
}

h1:hover {
    .blue {
        color: #f72585;
    }
    .red {
        color: #4361ee;
    }
}

table {
    border-collapse: separate;
    margin: 0 auto;
    font-size: 2em;
}

td {
    border: solid thin;
    background-color: white;
    border-radius: 20px;
    height: 0.8em;
    width: 0.8em;
    padding: 0;
}

.buttons {
    padding: 20px;
}

button {
    margin: 1em;
    padding: 10px 30px;
    border-radius: 1em;
    font-size: 1.2em;
    font-weight: 800;
    transition: all 200ms;
    background-color: white;
}

.play-button {
    border: 3px solid #4361ee;
    color: #4361ee;
}

.play-button:disabled {
    border: 3px solid #4361ee85;
    color: #4361ee85;
}

.clear-button {
    border: 3px solid #f72585;
    color: #f72585;
}

.clear-button:hover:enabled {
    background-color: #f72585;
    color: white;
    cursor: pointer;
}

.clear-button:disabled {
    border: 3px solid #f7258585;
    color: #f7258585;
}

.node {
    animation-name: bubbles;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.wall {
    background-color: black;
}

.node-start {
    border: solid thin #4361ee;
    background-color: #4361ee;
}

.node-end {
    border: solid thin #f72585;
    background-color: #f72585;
}

.node-visited {
    border: solid thin #ffbe0b;
    background-color: #ffbe0b;
}

.node-shortest-path {
    border: solid thin #00f5d4;
    background-color: #00f5d4;
}

@keyframes bubbles {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}